@import url("//fonts.googleapis.com/css?family=Rosario:700i");

body {
  font: 16px/26px "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

#logo, .freedomjs {
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(253, 60, 0);
}

.big {
  font-size: 1.5em;
}

#logo {
  padding-left: 1.2em;
}

header {
  padding-top: 0.5em;
  font-size: 2em;
  font-weight: 200;
  display: inline-block;
}

.triangle {
  padding-left: 0.5em;
  font-size: 85%;
  color: #666;
}

ul {
  list-style: none;
}

li > a {
  color: #444;
  display: block;
  font-weight: 600;
}

li > kbd {
  display: block;
}

li {
  padding-bottom: 1em;
}

kbd a {
  color: #444;
  font-weight: 100;
  font-size: 0.8em;
}

kbd:before {
  content: ">";
}

button {
  background: transparent;
  border: 1px solid;
  border-color: #eee #ccc #ccc #eee;
  font-size: 100%;
  outline: none;
}

button:active {
  background: #eee;
}

.lastChild > * {
  display: none;
}

.lastChild > *:last-child {
  display:block;
}

.tabs-container {
  margin: 1em 1em 0 1em;
}
.panes {
  background-color: #fff;
  border: 1px solid #888;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 1em 1em 1em;
  padding: 1em;
  overflow-y: auto;
}
.panes > :not(.active) {
  display: none;
}
.panes h1 {
  margin: 0;
  margin-bottom: 0.5em;
}
ol.tab-strip {
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
ol.tab-strip > li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 160px;
  height: 30px;
  border: 1px solid #bbb;
  border-bottom: none;
  background: #ddd;
}
ol.tab-strip > li.dragged {
  position: absolute;
  z-index: 1000;
}
ol.tab-strip > li.drop-placeholder {
  background: none;
  border: none;
}
ol.tab-strip > li:not(.active) {
  color: #888;
}
ol.tab-strip > li:hover {
  background: #eee;
}
ol.tab-strip > li.active {
  background: #fff;
}
ol.tab-strip > li .label {
  padding: 0 0.5em;
  /* IMPORTANT: Let mouse events pass through to the tab button */
  pointer-events: none;
}